/* left */
.title-account {
    font-size: 19px;
    font-weight: 400;
    color: #212B25;
    margin-bottom: 7px;
    text-transform: uppercase;
}
.block-account p {
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 28px;
    color: #212B25;
    position: relative;
}
.block-account ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.block-account ul .title-info {
    font-weight: 400;
    color: #212B25;
    margin-bottom: 10px;
    display: block;
}
.block-account ul .title-info.nuxt-link-exact-active {
    color: #ff2d37;
}
.title-head {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    color: #212B25;
    text-transform: uppercase;
    margin-bottom: 27px;
}