.rowcart {
  margin-left: -10px;
  margin-right: -10px;
}
.col-cart {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-top: 2em;
}
.col-cart--primary {
  width: 60%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  box-sizing: border-box;
}

.col-cart--secondary {
  width: 40%;
}
.col-cart--secondary {
  float: right;
}
.section--icon-heading {
  text-align: inherit;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
.section:first-child {
  padding-top: 0;
}
.section__icon {
  margin-right: 1rem;
}
.section__icon {
  margin-bottom: 0.5rem;
}
.thankyou-message-container {
  max-width: 100%;
}
.order-summary-toggle__text {
  color: #333;
  font-weight: 600;
  font-size: 1.15rem;
}
.order-summary {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  background: #fff;
}
.order-summary__header {
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
}
.order-summary__title {
  font-weight: 600;
}
.order-summary__sections {
  display: flex;
  flex-direction: column;
}
.order-summary__section--product-list {
  border-top: 1px solid #e1e1e1;
  padding-top: 0;
  padding-bottom: 0;
  padding: 7px 15px;
}
.order-summary__section--is-scrollable {
  overflow-y: auto;
  max-height: calc(100vh);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  width: 100%;
  margin: 0;
}

.product-table td:first-child,
.stock-table td:first-child {
  padding-left: 0;
}
.product-table td,
.stock-table td {
  padding-left: 1em;
}
td:first-child,
th:first-child {
  padding-left: 0;
  text-align: left;
}
.product td {
  padding-top: 1em;
}
.product-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: #fff;
  position: relative;
}
.product-thumbnail__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.product-thumbnail__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.product-thumbnail__quantity {
  font-size: 0.78em;
  white-space: nowrap;
  padding: 0 0.62em;
  border-radius: 2em;
  background-color: red;
  color: #fff;
  position: absolute;
  right: -0.9em;
  top: -0.55em;
  z-index: 3;
  box-sizing: border-box;
  min-width: 1.75em;
  height: 1.75em;
  text-align: center;
  line-height: 1.75em;
}
.product-thumbnail::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  z-index: 2;
}
.product__description {
  text-align: left;
  width: 100%;
}
.product-table tbody th,
.stock-table tbody th {
  padding-left: 1em;
  font-weight: 500;
  color: #333;
  padding-top: 0;
  padding-bottom: 0;
}
.product__description__name,
.product__description__property {
  display: block;
}
.order-summary__section ~ .order-summary__section {
  border-top: 1px solid rgba(175, 175, 175, 0.34);
}
.order-summary--bordered .order-summary__section {
  padding: 7px 15px;
}
.total-line th,
.total-line td {
  padding-top: 0.75em;
}
td:first-child,
th:first-child {
  padding-left: 0;
  text-align: left;
}
td:last-child,
th:last-child {
  text-align: right;
}
.order-summary--bordered .order-summary__section--product-list tbody td,
.order-summary--bordered .order-summary__section--product-list tbody th {
  padding-top: 1em;
  padding-bottom: 1em;
}
.payment-due__price {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1em;
  color: red;
}
.section__content--bordered {
  border: 1px solid #dadada;
  padding: 1em;
  margin: 1em;
  float: left;
  width: 100%;
}
.col-cart--md-two {
  padding-top: 0;
  width: 50%;
}
.col-cart {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
}
.col-cart p {
  margin-bottom: 0px;
}
.col-cart h2 {
  font-size: 18px;
}
@media (max-width: 767px) {
  .col-cart {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2em;
  }
  .section__content--bordered {
    margin: 0px;
  }
}
